#Branch: configs https://github.com/intel-innersource/os.linux.intelnext.kernel.git configs
CONFIG_VFIO_DEVICE_IDXD=m
CONFIG_INTEL_RAPL_TPMI=m
CONFIG_INTEL_TDX_MODULE_LOADER_OLD=y
#Branch: branding https://github.com/intel-sandbox/otc_power_kernel intel_next_branding
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_NEXT_CLUT224=y
#Branch: nvme ssh://git-gar-1.devtools.intel.com:29418/otc_nvme_linux-kernel for-intel-next
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
#Branch: usb-xhci https://github.com/intel-sandbox/mnyman-linux.git for-intel-next
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_PCI=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_DBGCAP=y
#Branch: lpss_gpio https://github.com/intel-sandbox/ashevche.linux.kernel intel/for-next
CONFIG_SERIAL_8250_DW=m
CONFIG_SPI_PXA2XX=m
CONFIG_SPI_PXA2XX_PCI=m
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_PCI=m
CONFIG_I2C_I801=m
CONFIG_SPI_INTEL_SPI_PCI=m
CONFIG_SPI_INTEL_SPI_PLATFORM=m
CONFIG_USB4=m
CONFIG_USB4_NET=m
CONFIG_MFD_INTEL_PMC_BXT=m
CONFIG_MFD_INTEL_LPSS_ACPI=m
CONFIG_MFD_INTEL_LPSS_PCI=m
CONFIG_X86_INTEL_LPSS=y
CONFIG_DW_DMAC=m
CONFIG_DW_DMAC_PCI=m
CONFIG_HSU_DMA=m
CONFIG_INTEL_IDMA64=m
CONFIG_SERIAL_8250_DW=m
CONFIG_SERIAL_8250_LPSS=m
CONFIG_SERIAL_8250_MID=m
CONFIG_PINCTRL_BAYTRAIL=m
CONFIG_PINCTRL_CHERRYVIEW=m
CONFIG_PINCTRL_LYNXPOINT=m
CONFIG_PINCTRL_ALDERLAKE=m
CONFIG_PINCTRL_BROXTON=m
CONFIG_PINCTRL_CANNONLAKE=m
CONFIG_PINCTRL_CEDARFORK=m
CONFIG_PINCTRL_DENVERTON=m
CONFIG_PINCTRL_ELKHARTLAKE=m
CONFIG_PINCTRL_EMMITSBURG=m
CONFIG_PINCTRL_GEMINILAKE=m
CONFIG_PINCTRL_ICELAKE=m
CONFIG_PINCTRL_JASPERLAKE=m
CONFIG_PINCTRL_LAKEFIELD=m
CONFIG_PINCTRL_LEWISBURG=m
CONFIG_PINCTRL_SUNRISEPOINT=m
CONFIG_PINCTRL_TIGERLAKE=m
CONFIG_PINCTRL_METEORLAKE=m
CONFIG_PINCTRL_METEORPOINT=m
#Branch: edac https://github.com/intel-sandbox/qzhuo-linux.git edac-for-intel-next
CONFIG_ACPI_ADXL=y
CONFIG_EDAC_DEBUG=y
CONFIG_EDAC_SKX=m
CONFIG_EDAC_I10NM=m
CONFIG_EDAC_IGEN6=m
CONFIG_EDAC_IEH=m
CONFIG_PCIEPORTBUS=y
CONFIG_PCIEAER=y
CONFIG_PCIE_PME=y
CONFIG_PCIEAER_INJECT=m
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_ACPI_APEI_EINJ=m
#Branch: pmc_core https://github.com/intel-sandbox/gkammela.pmc_core_intel-next.git pmc_core
CONFIG_INTEL_PMC_CORE=y
CONFIG_PM_SLEEP=y
CONFIG_DEBUG_FS=y
#Branch: tracehub https://github.com/intel-sandbox/linux-stm.git intel_th-for-intel-next
CONFIG_STM=m
CONFIG_STM_DUMMY=m
CONFIG_STM_SOURCE_CONSOLE=m
CONFIG_STM_SOURCE_HEARTBEAT=m
CONFIG_STM_SOURCE_FTRACE=m
CONFIG_INTEL_TH=m
CONFIG_INTEL_TH_PCI=m
CONFIG_INTEL_TH_ACPI=m
CONFIG_INTEL_TH_GTH=m
CONFIG_INTEL_TH_STH=m
CONFIG_INTEL_TH_MSU=m
CONFIG_INTEL_TH_PTI=m
#Branch: usb-typec https://github.com/intel-sandbox/hkrogeru-linux.git for-eywa
CONFIG_TYPEC=m
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_ACPI=m
CONFIG_TYPEC_CCG_HPI=m
CONFIG_USB_DWC3=m
CONFIG_USB_DWC3_PCI=m
#Branch: rapl/idle https://github.com/intel-sandbox/rzhang1.git for-intel-next
CONFIG_INTEL_RAPL=m
#Branch: hybrid https://github.com/intel-sandbox/ranerica.linux.git rneri/hybrid-for-intel-next
CONFIG_INTEL_HFI_THERMAL=y
CONFIG_INTEL_THREAD_DIRECTOR=y
#Branch: dlb2 https://github.com/intel-innersource/drivers.scheduling.dynamic-load-balancer.upstreamed-dlb-linux-driver.git dlb2-for-intel-next-v5.19-rc8
CONFIG_INTEL_DLB2=m
CONFIG_INTEL_DLB2_DATAPATH=y
CONFIG_INTEL_DLB2_SIOV=n
CONFIG_INTEL_IOMMU=y
CONFIG_VFIO=y
CONFIG_VFIO_MDEV=y
CONFIG_VFIO_MDEV_DEVICE=y
CONFIG_PCI_IOV=y
#Branch: SPI-NOR/PCI/Thunderbolt/USB4 https://github.com/intel-sandbox/mwesterb-linux.git for-eywa
CONFIG_SPI_INTEL_PCI=m
CONFIG_SPI_INTEL_PLATFORM=m
CONFIG_USB4=m
CONFIG_USB4_NET=m
CONFIG_SPI_INTEL=m
#Branch: In Field Scan https://github.com/intel-sandbox/drivers.saf.git for_intel_next_v5.19-rc1
CONFIG_INTEL_IFS=m
#Branch: tpmi https://github.com/intel-sandbox/spandruv.linux.git tpmi_intel_next
CONFIG_INTEL_VSEC=m
CONFIG_INTEL_TPMI=m
CONFIG_INTEL_TPMI_PEM=m
CONFIG_INTEL_SPEED_SELECT_TPMI=m
CONFIG_INTEL_UNCORE_FREQ_CONTROL_TPMI=m
CONFIG_INTEL_PMT_TELEMETRY=m
CONFIG_INTEL_SPEED_SELECT_INTERFACE=m
CONFIG_INTEL_UNCORE_FREQ_CONTROL=m
CONFIG_INTEL_PMT_CLASS=m
#Branch: oobmsm https://github.com/intel-sandbox/debox1.linux.git oobmsm_for_intel_next
CONFIG_MFD_INTEL_PMT=m
CONFIG_INTEL_PMT_TELEMETRY=m
CONFIG_INTEL_PMT_WATCHER=m
CONFIG_INTEL_PMT_CRASHLOG=m
CONFIG_INTEL_PMT_CLASS=m
CONFIG_INTEL_SDSI=m
CONFIG_INTEL_VSEC=m
CONFIG_SPDM=m
#Branch: cxl https://github.com/intel-sandbox/cxl.git for-intel-next/cxl
CONFIG_CXL_BUS=m
CONFIG_CXL_PCI=m
CONFIG_CXL_MEM_RAW_COMMANDS=y
CONFIG_CXL_ACPI=m
CONFIG_CXL_PMEM=m
CONFIG_CXL_MEM=m
CONFIG_CXL_PORT=m
#Branch: WWAN https://github.com/intel-innersource/drivers.wireless.wwan.drivers.mtk-5g-wwan.git t7xx_intel_next
CONFIG_CCCI=m
CONFIG_WWAN=y
CONFIG_MTK_T7XX=m
#Branch: LPSS/SMBus https://github.com/intel-sandbox/jarkkoni.linux.kernel.git for-intel-next
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_PCI=m
CONFIG_I2C_I801=m
CONFIG_MFD_INTEL_LPSS_ACPI=m
CONFIG_MFD_INTEL_LPSS_PCI=m
CONFIG_SPI_PXA2XX=m
CONFIG_SPI_PXA2XX_PCI=m
#Branch: sgx2 https://github.com/intel-sandbox/rchatre.linux.git sgx/for-intel-next
CONFIG_X86_SGX=y
#Branch: shadow_stacks https://github.com/intel-sandbox/linux-cet.git ss_2_intel_next3
CONFIG_X86_SHADOW_STACK=y
#Branch: MTLDIDs https://github.com/franciscomunoz/os.linux.intelnext.kernel.git mtl_dids_linus_rc
CONFIG_VMD=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_NVME_MULTIPATH=y
CONFIG_HWMON=y
CONFIG_NVME_RDMA=y
CONFIG_NVME_FC=y
CONFIG_NVME_TCP=y
CONFIG_NVME_TARGET=y
CONFIG_NVME_TARGET_PASSTHRU=y
CONFIG_NVME_TARGET_LOOP=y
CONFIG_NVME_TARGET_RDMA=y
CONFIG_NVME_TARGET_FC=y
CONFIG_NVME_TARGET_FCLOOP=y
CONFIG_NVME_TARGET_TCP=y
#Branch: svos ssh://git@gitlab.devtools.intel.com:29418/svos/sv/kernel/svos_next.git svos-next-pull-5.19
CONFIG_SVOS=n
CONFIG_SVFS_ACPI=n
CONFIG_SVOS_RAS_ERRORCORRECT=n
#Branch: Workarounds for SLE https://github.com/intel-sandbox/otc_power_kernel sle_support_v5.19
CONFIG_X86_SLE_SUPPORT=n
CONFIG_TEST_FPU=m
#Branch: svos_tdx ssh://git@gitlab.devtools.intel.com:29418/svos/sv/kernel/svos_next svos-next-tdx-pull-5.19
CONFIG_SVOS=n
#Branch: tdx_kvm_support https://github.com/intel-innersource/virtualization.hypervisors.tdx.linux.git intel-next
CONFIG_KVM_INTEL_TDX_SEAM_BACKDOOR=y
CONFIG_INTEL_TDX_HOST=y
#Branch: tdx_guest https://github.com/intel/tdx.git guest-next
CONFIG_INTEL_TDX_GUEST=y
#Branch: dsa_enabling https://github.com/intel-sandbox/kernel dsa
CONFIG_IMS_MSI=y
CONFIG_IMS_MSI_ARRAY=y
